
/*texting*/

html {
      height: 100%;
    }
    body {
       width: 800px;
       margin: 0 auto;
       height: 100%;
    }

    header {
        background-color:#5A86FF ;
        padding:10px;
        border-width: 5px;
        border-style: double;
        border-color: blue;
        margin:20px;
        font-size:25px;
        display: block;
    }
    nav {
        font-size: 20px;
        font-weight: bold;
        font-color: blue;
        float: left;
    }
    nav ul {
        padding:15;
        float: left;
        border-bottom:2px;
        list-style-type: none;
    }
    nav li {
        float: top;
    }
    nav li a {
        display: block;
        height: 20px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 125%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 30%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
    article {
      color: blue;
      font-size: 20px;

    }
  img  {
    height: 70%;
    width: 70%;

  }
